<h1>Live Sporting Event Charting System</h1>  
<h2>Select a Sport</h2>
<h3><%= link_to "Major League Baseball", :action => 'teams', :sport => "mlb" %></h3>
<h3><%= link_to "National Football League", :action => 'teams', :sport => "nfl" %></h3>
<h3><%= link_to "National Hockey League", :action => 'teams', :sport => "nhl" %></h3>
<h3><%= link_to "National Basketball Association", :action => 'teams', :sport => "nba" %></h3>
